<section class="mineralapp">  
  <section class="mineralListCollection">
    <app-mineral-list-header 
      (add)="onAddMineral($event)"></app-mineral-list-header>
    <app-mineral-list 
      [minerals]="minerals"
      (remove)="onRemoveMineral($event)"></app-mineral-list>
    <app-mineral-list-footer></app-mineral-list-footer>
  </section>
  <section class="mineral-form--input">
    <app-mineral-form-input (add)="onAddMineral($event)"></app-mineral-form-input>
  </section>
</section>


<router-outlet></router-outlet>